.wrapper {
  height: 100%;
  filter: brightness(0);
  animation-name: menuBrightness;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; // animation-delay: 10s;
  animation-timing-function: ease-out;
  animation-delay: 200ms;

  @keyframes menuBrightness {
    from {
      filter: brightness(0);
    }

    to {
      filter: brightness(1);
    }
  }
}
