{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3,
        "targets": {
          "browsers": [
            "last 2 Chrome versions",
            "last 2 ChromeAndroid versions",
            "last 2 Safari versions",
            "last 2 Firefox versions",
            "last 2 Edge versions",
            "last 2 iOS versions"
          ]
        }
      }
    ],
    "@babel/react",
    "airbnb"
  ],

  "env": {
    "coverage": {
      "plugins": ["istanbul"]
    }
  }
}
