{
  "presets": ["@babel/env", "@babel/react", "airbnb"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"]
    }]
  ],
  "env": {
    "coverage": {
      "plugins": [ "istanbul" ]
    }
  }
}