/*
                                                                      ..;===+.
                                                                  .:=iiiiii=+=
                                                               .=i))=;::+)i=+,
                                                            ,=i);)I)))I):=i=;
                                                         .=i==))))ii)))I:i++
                                                       +)+))iiiiiiii))I=i+:'
                                  .,:;;++++++;:,.       )iii+:::;iii))+i='
                               .:;++=iiiiiiiiii=++;.    =::,,,:::=i));=+'
                             ,;+==ii)))))))))))ii==+;,      ,,,:=i))+=:
                           ,;+=ii))))))IIIIII))))ii===;.    ,,:=i)=i+
                          ;+=ii)))IIIIITIIIIII))))iiii=+,   ,:=));=,
                        ,+=i))IIIIIITTTTTITIIIIII)))I)i=+,,:+i)=i+
                       ,+i))IIIIIITTTTTTTTTTTTI))IIII))i=::i))i='
                      ,=i))IIIIITLLTTTTTTTTTTIITTTTIII)+;+i)+i`
                      =i))IIITTLTLTTTTTTTTTIITTLLTTTII+:i)ii:'
                     +i))IITTTLLLTTTTTTTTTTTTLLLTTTT+:i)))=,
                     =))ITTTTTTTTTTTLTTTTTTLLLLLLTi:=)IIiii;
                    .i)IIITTTTTTTTLTTTITLLLLLLLT);=)I)))))i;
                    :))IIITTTTTLTTTTTTLLHLLLLL);=)II)IIIIi=:
                    :i)IIITTTTTTTTTLLLHLLHLL)+=)II)ITTTI)i=
                    .i)IIITTTTITTLLLHHLLLL);=)II)ITTTTII)i+
                    =i)IIIIIITTLLLLLLHLL=:i)II)TTTTTTIII)i'
                  +i)i)))IITTLLLLLLLLT=:i)II)TTTTLTTIII)i;
                +ii)i:)IITTLLTLLLLT=;+i)I)ITTTTLTTTII))i;
               =;)i=:,=)ITTTTLTTI=:i))I)TTTLLLTTTTTII)i;
             +i)ii::,  +)IIITI+:+i)I))TTTTLLTTTTTII))=,
           :=;)i=:,,    ,i++::i))I)ITTTTTTTTTTIIII)=+'
         .+ii)i=::,,   ,,::=i)))iIITTTTTTTTIIIII)=+
        ,==)ii=;:,,,,:::=ii)i)iIIIITIIITIIII))i+:'
       +=:))i==;:::;=iii)+)=  `:i)))IIIII)ii+'
     .+=:))iiiiiiii)))+ii;
    .+=;))iiiiii)));ii+
   .+=i:)))))))=+ii+
  .;==i+::::=)i=;
  ,+==iiiiii+,
  `+=+++;`

*/

/* Typography & Base Styling */

* {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: none;
  font-size: inherit;
}

html {
  height: 100%;
}

body {
  font-family: 'Avenir Next', 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.3;
  height: 100%;
  overflow: hidden;
  color: #444;
  margin: 0;
  background: black;
}

#root {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  >div {
    height: 100%;
    width: 100%;
    position: relative;
  }
}

canvas {
  position: fixed;
  bottom: 0;
}

.StarField {
  canvas {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(-0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.StarField {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &:after {
    content: "";
    background: url("../images/galaxy.png") no-repeat;
    background-size: cover;
    background-color: black;
    position: absolute;
    image-rendering: pixelated;
    left: -35%;
    right: -35%;
    top: -35%;
    bottom: -35%;
    animation-name: spin;
    animation-duration: 700s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: -1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

ul {
  width: 300px;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  bottom: 68px;
  transform: translate(-50%, 0);
  list-style-type: none;
  z-index: 9999;
  li {
    width: 33%;
    float: left; // TODO easing function
    // transition: all 50ms linear;
    position: relative;
    button,
    a {
      -webkit-appearance: none;
      border-width: 0px !important;
      margin: 0 auto;
      background: url("../images/orb-middle.png") no-repeat;
      height: 88px;
      width: 88px;
      background-size: cover;
      display: block;
      padding: 1px 7px 2px;
      align-items: flex-start;
      text-align: center;
      image-rendering: pixelated;
      transition: all 100ms ease-out; // TODO: Recreate curve from saturn
      content: "";
      margin-bottom: .25em;
      &:focus {
        outline: none;
      }
      &.disc {
        padding-top: 11px;
      }
      &.bottom {
        background: url("../images/orb-bottom.png") center center / cover no-repeat;
      }
      &.middle {
        background: url("../images/orb-middle.png") center center / cover no-repeat;
      }
      &.gold {
        background: url("../images/orb-top.png") center center / cover no-repeat;
      }
      &.globe {
        background: url("../images/globe.gif") center center / cover no-repeat;
      }
      &.bottom:after {
        content: "";
        background: url("../images/orb-shadow.png") no-repeat;
        background-size: 100% 100%;
        image-rendering: pixelated;
        width: 68px;
        opacity: .65;
        height: 42px;
        display: block;
        position: absolute;
        bottom: -20px;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, 0);
      }
      img {
        width: 56px;
        image-rendering: pixelated;
        display: inline-block;
      }
      &.middle,
      &.bottom {
        img {
          padding-top: 10px;
        }
      }
      &.stop {
        img {
          padding-top: 18px;
          width: 34px;
        }
      }
      &:active {
        z-index: 999;
        position: relative;
        transform: scale(1.8);
      }
    }
    .tooltip {
      display: none;
      color: black;
      background: rgba(255, 255, 255, .7);
      position: fixed;
      bottom: -60px;
      left: 50%;
      transform: translate(-50%, 0);
      width: fit-content;
      padding: 0 5px;
    }
    &:hover {
      .tooltip {
        display: block;
        animation-name: fadeOut;
        animation-duration: 100ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 10s;
        animation-timing-function: linear;
      }
    }
  }
}

.dashboard,
.dashboard:after {
  content: "";
  background: url("../images/dashboard.png") no-repeat;
  image-rendering: pixelated;
  background-size: 100% 50%;
  background-position: 0 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 75vw;
  z-index: 6666;
}

.dashboard:after {
  left: 100%;
  right: 0;
  transform: scaleX(-1);
  width: 100%;
}

.cubes {
  z-index: 7777;
  position: relative;
}

@media (min-width: 1000px) {
  .dashboard,
  .dashboard:after {
    height: 750px;
  }
}

header {
  position: relative;
  .info {
    background: url("../images/header.png") top center / cover no-repeat;
    image-rendering: pixelated;
    width: 80%;
    height: 0;
    padding-top: calc(36 / 254 * 80%);
    margin: 0 auto;
    position: relative;
    z-index: 2;
    .time,
    .track {
      position: absolute;
      top: 24%;
      left: 50%;
      width: 8%;
      line-height: 0;
      img {
        width: 100%;
      }
    }
    .track {
      left: 15%;
      width: 11.79%;
    }
    .timer {
      position: absolute;
      top: 35%;
      left: 60%;
      font-family: "Monaco";
      color: #004848;
      font-size: 140%;
      line-height: 0;
    }
  }
}

@keyframes knight-rider {
  from {
    left: 25%;
  }
  to {
    left: 69%;
  }
}

.knight-rider {
  content: "";
  background: url("../images/knight-rider.png") no-repeat;
  background-position: center center;
  image-rendering: pixelated;
  background-size: 100% 100%;
  height: 12%;
  width: 6%;
  position: absolute;
  left: 50%;
  bottom: 5%;
  z-index: 1;
  animation-name: knight-rider;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.music-picker {
  background: white;
}

.FileReader {
  position: absolute;
  top: 25%;
  left: 10%;
  right: 10%;
  bottom: 25%;
  background: white;
  z-index: 9999;
}

.track-number {
  position: absolute;
  left: 114%;
  top: 61%;
  font-family: "Monaco";
  color: #004848;
  font-size: 140%;
  line-height: 0;
}