/*
                                                                      ..;===+.
                                                                  .:=iiiiii=+=
                                                               .=i))=;::+)i=+,
                                                            ,=i);)I)))I):=i=;
                                                         .=i==))))ii)))I:i++
                                                       +)+))iiiiiiii))I=i+:'
                                  .,:;;++++++;:,.       )iii+:::;iii))+i='
                               .:;++=iiiiiiiiii=++;.    =::,,,:::=i));=+'
                             ,;+==ii)))))))))))ii==+;,      ,,,:=i))+=:
                           ,;+=ii))))))IIIIII))))ii===;.    ,,:=i)=i+
                          ;+=ii)))IIIIITIIIIII))))iiii=+,   ,:=));=,
                        ,+=i))IIIIIITTTTTITIIIIII)))I)i=+,,:+i)=i+
                       ,+i))IIIIIITTTTTTTTTTTTI))IIII))i=::i))i='
                      ,=i))IIIIITLLTTTTTTTTTTIITTTTIII)+;+i)+i`
                      =i))IIITTLTLTTTTTTTTTIITTLLTTTII+:i)ii:'
                     +i))IITTTLLLTTTTTTTTTTTTLLLTTTT+:i)))=,
                     =))ITTTTTTTTTTTLTTTTTTLLLLLLTi:=)IIiii;
                    .i)IIITTTTTTTTLTTTITLLLLLLLT);=)I)))))i;
                    :))IIITTTTTLTTTTTTLLHLLLLL);=)II)IIIIi=:
                    :i)IIITTTTTTTTTLLLHLLHLL)+=)II)ITTTI)i=
                    .i)IIITTTTITTLLLHHLLLL);=)II)ITTTTII)i+
                    =i)IIIIIITTLLLLLLHLL=:i)II)TTTTTTIII)i'
                  +i)i)))IITTLLLLLLLLT=:i)II)TTTTLTTIII)i;
                +ii)i:)IITTLLTLLLLT=;+i)I)ITTTTLTTTII))i;
               =;)i=:,=)ITTTTLTTI=:i))I)TTTLLLTTTTTII)i;
             +i)ii::,  +)IIITI+:+i)I))TTTTLLTTTTTII))=,
           :=;)i=:,,    ,i++::i))I)ITTTTTTTTTTIIII)=+'
         .+ii)i=::,,   ,,::=i)))iIITTTTTTTTIIIII)=+
        ,==)ii=;:,,,,:::=ii)i)iIIIITIIITIIII))i+:'
       +=:))i==;:::;=iii)+)=  `:i)))IIIII)ii+'
     .+=:))iiiiiiii)))+ii;
    .+=;))iiiiii)));ii+
   .+=i:)))))))=+ii+
  .;==i+::::=)i=;
  ,+==iiiiii+,
  `+=+++;`

*/

@font-face {
  font-family: "Phoebe";
  src: url("../fonts/PhoebeV4.ttf");
}

@font-face {
  font-family: "PhoebeJP";
  src: url("../fonts/PhoebeJP.ttf");
}
@font-face {
  font-family: "ChibiPhoebe";
  src: url("../fonts/ChibiPhoebe.ttf");
}
@font-face {
  font-family: "Phoebe Condensed Bold";
  src: url("../fonts/PhoebeCondesnedB.ttf");
}

@mixin pixelated {
  image-rendering: optimizeSpeed; /* Older versions of FF          */
  image-rendering: -moz-crisp-edges; /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated; /* Awesome future-browsers       */
}

/* Typography & Base Styling */

* {
  box-sizing: border-box;
  font-size: inherit;
  text-rendering: geometricPrecision;
  font-weight: 100;
}

html {
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

body {
  font-family: "Phoebe", "Monaco", monospace;
  font-size: 22px;

  line-height: 1.3;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  color: #444;
  margin: 0;
  background: black;
}

p {
  margin-top: 0;
}

.pointer {
  cursor: pointer;
}

#root {
  width: 100%;
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  max-width: 133.333vh;
  max-width: calc(var(--vh, 1vh) * 133.33);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes knight-rider {
  0% {
    transform: translateX(0) scaleX(0);
  }
  5% {
    transform: translateX(50%) scaleX(1);
  }

  90% {
    transform: translateX(690%) scaleX(1);
  }
  100% {
    transform: translateX(710%) scaleX(0);
  }
}

.exit-button {
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(53, 59, 101, 0.8),
    0 0 0 3.5px rgba(149, 149, 149, 0.8), 0 0 0 5px rgba(53, 59, 101, 0.8);
  display: block;
  margin: 0 auto;
  margin-top: auto;
  color: white;
  font-family: Phoebe;
  font-size: 36px;
  padding: 14px 14px 10px;
  background-color: rgba(93, 21, 122, 0.8);
  border: 0;
  cursor: pointer;
}

@keyframes floatDownRelative {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(100%);
  }
}

@keyframes floatUpRelative {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-105%);
  }
}

@keyframes floatDownButtons {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(50vh);
  }
}

.hidden {
  .dashboard,
  .cubes canvas,
  li {
    animation-name: floatDownRelative;
    animation-duration: 2000ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; // animation-delay: 10s;
    animation-timing-function: linear;
  }

  li {
    animation-name: floatDownButtons;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; // animation-delay: 10s;
    animation-timing-function: ease-in;
  }

  li {
    &:nth-child(1) {
      animation-delay: 1400ms;
      animation-duration: 300ms;
    }

    &:nth-child(2) {
      animation-delay: 1300ms;
      animation-duration: 300ms;
    }

    &:nth-child(3) {
      animation-delay: 1100ms;
      animation-duration: 300ms;
    }

    &:nth-child(4) {
      animation-delay: 780ms;
      animation-duration: 350ms;
    }

    &:nth-child(5) {
      animation-delay: 800ms;
      animation-duration: 350ms;
    }

    &:nth-child(6) {
      animation-delay: 1000ms;
      animation-duration: 350ms;
    }

    &:nth-child(7) {
      animation-delay: 680ms;
    }

    &:nth-child(8) {
      animation-delay: 600ms;
    }

    &:nth-child(9) {
      animation-delay: 720ms;
    }
  }

  li {
    button,
    a {
      &.bottom:after {
        animation-name: fadeOut;
        animation-duration: 200ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards; // animation-delay: 10s;
        animation-timing-function: linear;
      }
    }
  }

  .tooltips {
    display: none !important;
  }
}
// TODO: ReactCSSTransitionGroup
@keyframes toolTip {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.tooltips {
  p {
    color: black;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    left: 50%;
    transform: translate(-50%, 0) scale(0.8, 1);
    bottom: 0;
    z-index: 70;
    padding: 6px 8px 0;
    text-align: center;
    line-height: calc(var(--scene-width) / 18);
    font-size: calc(var(--scene-width) / 18);
    display: inline-block;
    margin: 0 0 15px;
    z-index: 99;
    // animation-name: toolTip;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 10s;
    white-space: nowrap;
    user-select: none;
  }
  img {
    height: 30px;
    width: auto;
    bottom: 20px;
    @include pixelated;
  }
  strong {
    font-weight: 100;
    color: rgb(255, 32, 52);
  }
}

@keyframes floatDownInRelative {
  from {
    transform: translateY(-105%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes floatInButtons {
  from {
    transform: translateY(50vh);
  }

  to {
    transform: translateY(0%);
  }
}

.show {
  header {
    animation-name: floatDownInRelative;
    animation-duration: 600ms;
    animation-iteration-count: 1;
    animation-fill-mode: backwards; // animation-delay: 10s;
    animation-timing-function: linear;
    animation-delay: 700ms;
  }

  li {
    button,
    a {
      &.bottom:after {
        animation-name: fadeOut;
        animation-duration: 200ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards; // animation-delay: 10s;
        animation-timing-function: linear;
      }
    }
  }
}

.japanese {
  .FileReader {
    h2 {
      font-family: "PhoebeJP", sans-serif;
    }
  }
  .tooltips p {
    line-height: calc(var(--scene-width) / 20);
    font-size: calc(var(--scene-width) / 20);
    font-family: "PhoebeJP", sans-serif;
    padding-bottom: 8px;
  }
}
